# gcloud run deploy --source 上傳到 Cloud Build 的檔案清單過濾
# 機密：金鑰絕不能上傳
backend/*.json
*firebase-adminsdk*.json
**/firebase_config*.json
.env

.git
.gitignore
.gcloudignore
.venv
**/__pycache__
crawler/
docs/
wordle_*/
backend/t.py
backend/參考
README.md
