{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about-us.css') }}">

<div class="card-container">
    <div class="card">
        <div class="flip-card-container">
            <div class="front">
                <div class="name">Software Engineer</div>
                <div class="description">專注於人工智慧與機器學習領域<br>曾參與多個國際專案</div>
            </div>
            <div class="back">徐嘉謙</div>
        </div>
    </div>

    <div class="card">
        <div class="flip-card-container">
            <div class="front">
                <div class="name">Data Analyst</div>
                <div class="description">擅長處理大數據並提供商業洞察<br>擁有豐富的行業經驗</div>
            </div>
            <div class="back">周傑聖</div>
        </div>
    </div>

    <div class="card">
        <div class="flip-card-container">
            <div class="front">
                <div class="name">Development Engineer</div>
                <div class="description">精通多種程式語言<br>熱衷於開發創新型網頁應用</div>
            </div>
            <div class="back">孔勝立</div>
        </div>
    </div>

    <div class="card">
        <div class="flip-card-container">
            <div class="front">
                <div class="name">Security Consultant</div>
                <div class="description">專注於網路安全與加密技術<br>致力於保護企業數據</div>
            </div>
            <div class="back">張紘誌</div>
        </div>
    </div>

    <div class="card">
        <div class="flip-card-container">
            <div class="front">
                <div class="name">UI Designer</div>
                <div class="description">專注於設計直觀且吸引人的介面<br>提升用戶滿意度</div>
            </div>
            <div class="back">洪鈺</div>
        </div>
    </div>

    <div class="card">
        <div class="flip-card-container">
            <div class="front">
                <div class="name">Cloud Architecture Engineer</div>
                <div class="description">專精於雲端基礎設施設計與部署<br>幫助企業實現數位轉型</div>
            </div>
            <div class="back">吳孟庭</div>
        </div>
    </div>
</div>

{% endblock %}